extends base

block content 
    div.avatar__container
        if errorMessage 
            span=errorMessage
        if loggedInUser.socialOnly 
            img(src=loggedInUser.avatarUrl).avatar-bic 
        else 
            img(src="/" + loggedInUser.avatarUrl).avatar-bic
    form(method="POST", enctype = "multipart/form-data")
        input(type="file", id="avatar", accept="image/*", name="avatar")
        input(name="name", type="text", placeholder="Name", required, value=loggedInUser.name)
        input(name="email", type="text", placeholder="E-mail Address", required, value=loggedInUser.email)
        input(name="username", type="text", placeholder="User Name", required, value=loggedInUser.username)
        input(name="location", type="text", placeholder="Location", required, value=loggedInUser.location)
        input(type="submit", value="Edit User")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;